#course{
    padding: 60px 20px;
  background-color: #ffffff; 
  margin-top: -100px;
}
.bca{
    width:300px;
    padding:30px 10px;
    border:5px solid black;
    margin: 0;
    font-family: arial;
}
.sun{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 gap: 15px;
 margin: 40px;
}
.text h2{
    font-size:40px ;
     }